<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" [routerLink]="['']">Angular2 + Bootstrap4 Demos</a>
</nav>

<div class="container-fluid">
  <div class="col-md-3 col-sm-4">
      <div class="list-group">
        <a class="list-group-item disabled">Demo List</a>
        <a class="list-group-item" [routerLink]="['buttons']">Buttons Demo</a>
      </div>
  </div>
  <div class="col-md-9 col-sm-8">
    <div class="demo-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
