<div class="card">
    <div class="card-header">
        Alert
    </div>
    <div class="card-block">
        <ngb-alert *ngFor="let alert of alerts" [type]="alert.type" [dismissible]="true" (close)="closeAlert(alert.id)">
            {{alert.message}}
        </ngb-alert>

        <p>
            <button type="button" class="btn btn-sm btn-secondary" (click)="reset()">Reset</button>
        </p>
    </div>
</div>

<div class="card">
    <div class="card-header">Self-Closing Alert</div>
    <div class="card-block">
        <p>
            These alerts will be dismissed in 5 seconds.  Click "Add Alert" to add an alert.
        </p>
        <p *ngFor="let alt of autoCloseAlerts">
            <template ngbAlert [dismissOnTimeout]="5000" >{{alt}}</template>
        </p>
        <p>
            <button type="button" class="btn btn-sm btn-secondary" (click)="addAlert()">Add</button>
        </p>
    </div>
</div>

<div class="card">
    <div class="card-header">Custom Alert</div>
    <div class="card-block">
        <ngb-alert type="custom" [dismissable]="false">
            <strong>Whoa!</strong> This is a custom alert.
        </ngb-alert>
    </div>
</div>