<div class="card">
    <div class="card-header">
        Alert
    </div>
    <div class="card-block">
        <p *ngFor="let alert of alerts">
            <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
        </p>
        <p>
            <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
        </p>
    </div>
</div>

<div class="card">
    <div class="card-header">Self-Closing Alert</div>
    <div class="card-block">
        <p>
            These alerts will be dismissed in 5 seconds. Click "Add Alert" to add an alert.
        </p>
        <p *ngFor="let alert of autoCloseAlerts">
            <template ngbAlert >{{ alert }}</template>
        </p>
        <p>
            <button class="btn btn-primary" (click)="addAlert()">Add Alert</button>
        </p>
    </div>
</div>

<div class="card">
    <div class="card-header">Custom Alert</div>
    <div class="card-block">
        <p>
            <ngb-alert type="custom" [dismissible]="false"><strong>Whoa!</strong> This is a custom alert.</ngb-alert>
        </p>
    </div>
</div>